<div id="left-menu">
    <h3>Список валют</h3>
    <form>
        <ul>
            {% for valuta in left_menu %}
            
            <li  id="{{ valuta.char_code|e }}" {% if valuta.default_active == 'Y' %} class="check" {% endif %}>
                <label>{{ valuta.name_ru|e }}</label>
                <input type="checkbox" name="valuta" value="{{ valuta.id }}"
                    {% if valuta.default_active == 'Y' %} 'checked' {% endif %}>
            </li>
            
            {% elsefor %}
            <li><label>Добавьте валюту</label></li>
            {% endfor %}
        </ul>
    </form>
</div>

<div id="content">
    <h1>Курсы валют</h1>
    <div class="valuta-header">
        <div class="name">Наименование валюты</div>
        <div class="value">Курс</div>
        <div class="nominal">Номинал</div>
    </div>
    <div id="valuta_list">
        {% for valuta in left_menu if valuta.default_active == 'Y' %}

        <div class="valuta" id="valuta_{{ valuta.char_code|e }}">
            <div class="name">{{ valuta.name_ru|e }}</div>
            <div class="value">{{ valuta.value.valuta_value }}</div>
            <div class="nominal">{{ valuta.value.valuta_nominal }}</div>
        </div>
            
        {% endfor %}
    </div>
</div>