@charset "utf-8";
/* CSS Document */
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
    margin:0;padding:0;border:0;outline:0;
}
html,body{height:100%; min-height:100%;}
body{
    font-family: "Tahoma", sans-serif;
    letter-spacing:.1em;
    font-weight:700;
    font-size: 12px;
    background: #e8e8e8;
}

#menu {
    width: 200px;
    height:auto;
    min-height: 100%;
    background: #282828;
    color: #777;
    float: left;
    position: fixed;
}

#menu ul li {
    border-top: 1px solid #333;
    border-bottom: 1px solid #222;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    padding-left: 8px;
    color: #777;
}

#menu ul li.check{
    background: #222;
}
#menu ul li:hover{
    background: #262626;
    color: #AAA;
}

#content {
    height: 300px;
    margin-left: 200px;
}

#content #header {
    height: 30px;
    line-height: 30px;
}

#content #header a{
    height: 30px;
    line-height: 30px;
    margin-right: 1%;
    float: right;
    text-decoration: none;
    color: #aaa;
    transition: 0.5s;
}

#content #header a:hover{
    color: #EA3737;
}

#content #header h1{
    margin-left: 20px;
    color: #aaa;
    float: left;
}

#content #list .valuta,
#content .valuta-header{
    display: table;
    width: 98%;
    background: #f4f4f4;
    height: auto;
    margin: 0 1%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #ddd;
    color: #555;
    transition: 0.5s;    
}
#content .valuta-header{
    background: none;
    border-bottom: solid 2px #CCC;
    border-top: solid 1px #DDD;
}
#content #list .valuta div,
#content .valuta-header div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    border-left: solid 1px #DDD;
}
/*#content #list .valuta div + div,
#content .valuta-header div + div{
    border-left: solid 1px #DDD;
}*/
#content .valuta-header div:last-child{
    border-right: solid 1px #DDD;
}
#content #list{
    border-right: solid 1px #DDD;
    margin-bottom: 30px;
}
#content #list .valuta div.name,
#content .valuta-header div.name{
    width: auto;
    padding-left: 12px;
    text-align: left;
}
#content #list .valuta div.edit,
#content .valuta-header div.edit{
    border: none;
}
#content #list .valuta:hover{
    background: #fff;
    color: #222;
    border-bottom: solid 1px #BBB;
}
#content #list .valuta a {
    display: block;
    text-decoration: none;
    color: #BBB;
}
#content #list .valuta .edit a:hover{
    color: #398439;
}
#content #list .valuta .delete a:hover {
    color: #EA3737;
}
#content #list .valuta .nominal{
    color: #005580;
}
#content #list .valuta .value{
    color: #EA3737;
}

#content .valuta-header div{
    border-color: #DDD;
}
#valuta .flash{
    margin: 0 1%;
}
#valuta .flash div{
    margin: 10px 0;
    border-left: solid 2px #DDD;
    padding-left: 1%;
    height: auto;
    min-height: 40px;
    line-height: 40px;
    width: 99%;
    
}
#valuta .flash .successMessage{
    color: #398439;
    border-color: #398439;
}
#valuta .flash .errorMessage{
    color: #EA3737;
    border-color: #EA3737;
}
#valuta form{
    width: 600px;
    margin: 0 auto;
    background: #DDD;
    padding: 20px 0;
}

#valuta form label,#valuta form p,#valuta form input,#valuta form select{
    width: 578px;
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
    display: block;
}
#valuta form label{
    color: #666;
}
#valuta form p{
    font-size: 10px;
    text-align: right;
    color: #888;
    background: #D8D8D8;
    padding-right: 4px;
}
#valuta form input{
    width: 568px;
    padding: 0 5px;
    font-size: 18px;
}
#valuta form input[type="submit"]{
    width: 578px;
    margin-top: 30px;
}

#valuta form .errorMessage{
    width: 568px;
    margin: 0 15px;
    height: auto;
    line-height: 20px;
    color: #EA3737;
}
