@charset "utf-8";
/* CSS Document */
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
    margin:0;padding:0;border:0;outline:0;
}
html,body{height:100%; min-height:100%;}
body{
    font-family: "Tahoma", sans-serif;
    letter-spacing:.1em;
    font-weight:700;
    font-size: 12px;
    background: #e8e8e8;
}

#left-menu{
    width: 400px;
    height:auto;
    min-height: 100%;
    background: #282828;
    color: #777;
    float: left;
}
#left-menu h3{
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #444;
}
#left-menu form ul li {
    border-top: 1px solid #333;
    border-bottom: 1px solid #222;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
#left-menu form ul li.check{
    background: #222;
}
#left-menu form ul li:hover{
    background: #262626;
    color: #AAA;
}

#left-menu form ul li label{
    padding-left: 8px;
    cursor: pointer;
}
#left-menu form ul li input{
    float: right;
    margin: 9px 9px 0;
}

#content{
    height: 300px;
    margin-left: 400px;
    
}
#content h1{
    margin:  0 1% 8px;
    color: #666;
}

#content .valuta, #content .valuta-header {
    position: relative;
    background: #f4f4f4;
    height: auto;
    min-height: 40px;
    line-height: 40px;
    width: 98%;
    margin: 0 1%;
    border-bottom: solid 1px #ddd;
    color: #555;
}
#content .valuta:hover{
    background: #fff;
    color: #333;
    border-bottom: solid 1px #CCC;
}
#content .valuta-header{
    background: #DDD;
    border-bottom: solid 2px #CCC;
}

#content div .name{
    height: auto;
    width: 400px;
    padding-left: 12px;
    float: left;
}

#content div .nominal, #content div .value{
    height: auto;
    width: 100px;
    text-align: center;
    float: right;
    border-left: solid 1px #DDD;
}
#content .valuta .nominal{
    color: #005580;
}
#content .valuta .value{
    color: #EA3737;
}

#content .valuta-header div{
    border-color: #CCC;
}