<!DOCTYPE html>
<html>
<head>
    {{ get_title() }}
    <meta charset="utf-8"/>
    {{ stylesheet_link('css/admin.css') }}
    {{ assets.outputCss() }}
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    {{ stylesheet_link('css/main-ie.css') }}
    <![endif]-->
       
</head>
<body>
    <div id="menu">
        <ul>
            <li>
                {{ link_to('/', 'Главная') }}
            </li>
            <li>
                {{ link_to('/valuta', 'Валюта') }}
            </li>
            <li>
                <a href="/">На сайт</a>
            </li>
        </ul>
    </div>
    
    <div id="content">
        {{ content() }}
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {{ assets.outputJs() }}

</body>
</html>