<div id="header">
    <h1>Добавление валюты</h1>
</div>

<div id="valuta">
    <form method="post" autocomplete="off">

        <label>Идентификатор валюты с источника получения</label>
        {{ form.render('valute_attr_id') }}
        {{ form.messages('valute_attr_id') }}
        <p>Должен состоять из 1 - 7 символов (A-Z a-z 0-9)</p>
        
        <label>Цифровой код валюты</label>
        {{ form.render('num_code') }}
        {{ form.messages('num_code') }}
        <p>Должен состоять из 3-х цифр</p>
        
        <label>Буквенный код</label>
        {{ form.render('char_code') }}
        {{ form.messages('char_code') }}
        <p>Должен состоять из 3 заглавных букв</p>
        
        <label>Наименование валюты</label>
        {{ form.render('name_ru') }}
        {{ form.messages('name_ru') }}
        <p>Должно состоять из 3 - 255 букв</p>
        
        <label>Номинал валюты</label>
        {{ form.render('valuta_nominal') }}
        {{ form.messages('valuta_nominal') }}
        
        <label>Курс валюты</label>
        {{ form.render('valuta_value') }}
        {{ form.messages('valuta_value') }}
        <p>Должен соответствовать шаблону **,****</p>
        
        <label>Показывать валюту по умолчанию?</label>
        {{ form.render('default_active') }}
        {{ form.messages('default_active') }}
        
        <label>Статус валюты</label>
        {{ form.render('status') }}
        {{ form.messages('status') }}        


        {{ form.render("Checkout") }}
    </form>
</div>