<div id="header">

    <h1>Валюта</h1>
    {{ link_to('/valuta/add', 'Добавить валюту') }}

</div>
<div id="valuta">

    <div class="flash">
        {{ content() }}
        {{ flashSession.output() }}
    </div>
    
    <div class="valuta-header">
        <div class="name">Наименование валюты</div>
        <div class="edit">&#9997;</div>
        <div class="code">Код</div>
        <div class="nominal">Номинал</div>
        <div class="value">Курс</div>
        <div class="status">Статус</div>
        <div class="delete">&times;</div>
    </div>
    <div id="list">
    {% for valuta in items %}
        <div class="valuta" id="valuta_{{ valuta.char_code|e }}">
            <div class="name">{{ valuta.name_ru|e }}</div>
            <div class="edit">{{ link_to('/valuta/edit/' ~ valuta.id, 'изменить') }}</div>
            <div class="code">{{ valuta.char_code|e }}</div>
            <div class="nominal">{{ valuta.value.valuta_nominal }}</div>
            <div class="value">{{ valuta.value.valuta_value }}</div>
            <div class="status">{% if valuta.default_active == 'Y' %} вкл {% else %} выкл {% endif %}</div>
            <div class="delete">{{ link_to('/valuta/delete/' ~ valuta.id, 'удалить') }}</div>            
        </div>
    {% elsefor %}
        <div class="valuta">Добавьте валюту</div>
    {% endfor %}
    </div>

</div>