<!DOCTYPE html>
<html>
<head>
    {{ get_title() }}
    <meta charset="utf-8"/>
    {{ stylesheet_link('css/main.css') }}
    {{ assets.outputCss() }}
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    {{ stylesheet_link('css/main-ie.css') }}
    <![endif]-->
       
</head>
<body>

    {{ content() }}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {{ assets.outputJs() }}
    <script>
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader(
                    '<?php echo \FastVps\Common\Plugins\SecurityAjaxRequest::HEADER_NAME ?>',
                    '{{ security.getToken() }}'
                );
            }
        });
    </script>

</body>
</html>